*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    list-style-type: none;
    display: block;
    background-color: rgb(215, 226, 230);
}

.container .container-top{
    display: flex;
    background-color: white;
    padding: 10px 0px 10px 0px;
    justify-content: space-between;
    padding: 20px 5% 20px 5%;
    height: 100px;
}

.container .container-top .logo{
    margin-top: calc(50px - 25px);
}

.container .container-top .search-bar{
    display: flex;
}

.container .container-top .search-bar .search{
    width: 350px;
    height: 35px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-top: calc(50px - (35px/2));
}

.container .container-top .search-bar .search-btn{
    width: 30px;
    height: 30px;
    margin-top: calc(50px - 15px);
}

.container .container-top .cart{
    margin-top: calc(50px - 15px);
}

.container .container-top .signin{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}

.container .container-top .signin .sign-in{
    margin-top: calc(50px - 15px);
}

.container .container-top .signin .cart-lb{
    margin: calc(50px - 8px) 15px calc(50px - 8px) 15px;
    color: black;
    text-decoration: none;
}

.container .container-top .logo, .search-bar .search-btn, .cart, .signin .sign-in, .cart-lb{
    cursor: pointer;
}

.container .container-down{
    background-color: white;
}

.container .container-down .menubar{
    display: flex;
    /* justify-content: center; */
    justify-content: space-between;
    padding: calc(50px - 8px) 30% calc(50px - 8px) 30%;
    list-style-type: none;
    font-size: 16px;
    
}

.container .container-down .menubar .menu-item{
    text-decoration: none;
    color: black;
}

.container .container-down .menubar .menu-item:hover{
    text-decoration: underline;
    cursor: pointer;
}

.ft-copyright{
    text-align: center;
    font-size: 20px;
    margin: 5px 0px 5px 0px;
    color: gray;
}





.notify {
    margin: 30px;
    font-size: 25px;
    font-family: 'Times New Roman';
    text-align: center;
    border-bottom: 1px solid orange;
    margin-left: 200px;
    margin-right: 200px;
}

.btn-backhome {
    background-color: orange;
    border: 1px solid gray;
    border-radius: 7px;
    width: 140px;
    height: 30px;
    margin-top: 15px;
    margin-left: calc(50% - 70px);
    margin-bottom: 15px;
    margin-right: calc(50% - 70px);
    box-shadow: 1px 3px 10px 0.5px gray;
    cursor: pointer;
}

    .btn-backhome:hover {
        background-color: darkorange;
        transition: 0.25s;
    }







.login-form {
width: 700px;
height: auto;
margin: 15px 30px 15px 30px;
padding: 15px;
}

.header {
font-size: 25px;
margin-bottom: 15px;
}

.login-items {
display: block;
}

.username-password-items {
display: block;
}

.header-input-item {
font-size: 20px;
font-family: 'Times New Roman';
}

.input-item {
border: none;
border-bottom: 1px solid gray;
width: 500px;
height: 30px;
margin-top: 15px;
margin-bottom: 15px;
outline: none;
padding: 0px 10px 0px 10px;
border-radius: 7px;
}

.input-item:focus {
outline: 1px solid orange;
}

.btn-item {
margin: 15px 0px 15px 0px;
display: flex;
}

.submit-btn1 {
width: 100px;
height: 35px;
border: 1px solid gray;
border-radius: 7px;
background-color: darkorange;
cursor: pointer;
font-size: 15px;
margin-left: 15px;
margin-right: 15px;
box-shadow: 1px 3px 10px 0.5px gray;
}

.btn-cal {
text-decoration: none;
color: black;
}

.submit-btn1:hover, .btn-cal:hover {
background-color: orange;
transition: 0.3s;
}

.acc-new {
text-decoration: none;
color: blue;
}

.acc-new:hover {
text-decoration: underline;
transition: 0.3s;
}

